@import url("main.css");

body,
html {
    width: var(--width-full);
    font-family: "Trajan", serif;
    position: relative;
    background-color: #17232D;
    margin: 0;
}

.hero {
    background: linear-gradient(to bottom, transparent 90%, #17232D 100%), url(../img/background_night_sky.png);
    width: var(--width-full);
    min-height: 860px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
}

.hero_grid_content {
    display: flex;
    flex-direction: column;
    width: var(--width-12col);
    margin: 0 auto; 
    gap: var(--grid-gap);
}

.hero_container_about_theatre {
    margin: 167px 0 0 0;
    grid-column: 1 / span 7; 
}

.hero_about_theatre_text h1 {
    font-family: var(--font-header);
    font-size: 40px;
    font-weight: 100;
    color: var(--color-white);
    display: flex;
    align-items: flex-start;
}

.hero_about_theatre_text h2 {
    color: var(--color-white);
    font-family: var(--font-body);
    font-weight: 300;
    letter-spacing: 1.4px;
    font-size: 23px;
    margin-top: 16px;
    width: 550px;
}


.hero_about_theatre_text_bottom {
    margin-top: 60px;
}

.hero_about_theatre_text_bottom p {
    color: var(--color-white-nav);
    font-family: var(--font-body);
    font-weight: 100;
    font-size: 20px;
}

.hero_about_theatre_text_bottom img {
    position: absolute;
}

.body_content_about_theatre {
    grid-column: 1 / 13;
}
.about_theatre_navigation_sides{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13.938rem 0 0 0;
    width: var(--width-full);
}

/* About theatre */
.block_about_theatre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: var(--width-12col);
    margin: 0 auto;
}

/* .body_content_about_theatre_logo_image {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    top: 72%;
} */
.body_content_about_theatre_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-12col);
    margin: auto;
}

.block_about_theatre_text {
    max-width: 1020px;
    padding-top: 80px;
}

.block_about_theatre_text p {
    color: var(--color-white);
    font-family: var(--font-body);
    font-weight: 100;
    font-size: 23px;
    line-height: 1.6;
    margin-bottom: 35px;
}
.button_about_theatre{
    margin-top: 60px;
}
.visit_button button{
    border-radius: 1.75rem;
    width: 383px;
    height: 60px;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom right, #473113, #23211C, #473113);
    border: 0.25rem solid #F2C042;
    outline: 0.188rem solid #756849;
    font-family: var(--font-body);
    font-size: 25px;
    color: var(--color-white);
}
.visit_button button:hover, .visit_button button:focus {
    transform: scale(1.1);
    box-shadow: 0 0 0.938rem #EFBF04;
    transition: 0.8s;
}

.visit_button{
    grid-column: 4 / span 6;
    display: flex;
    justify-content: center;
    margin-bottom: 101px;
}

.about_theatre_contact {
    grid-column: 2 / span 4;
    text-align: left;
    margin-bottom: 47px;
}

.about_theatre_contact_text {
    font-family: var(--font-body);
    font-size: 20px; 
    font-weight: 100;
    color: var(--color-white);
    text-transform: uppercase;
}

.about_theatre_contact a {
    font-family: var(--font-body);
    font-size: 16px;
    color: var(--color-white);
    text-decoration: none;
    display: block; 
    margin-bottom: 20px;
}

.about_theatre_contact a:hover {
    color: #007BFF
}
.about_theatre_contact_address {
    font-family: var(--font-body);
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-white);
}
.button_about_theatre {
    width: var(--width-12col);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

@media (max-width: 480px) {
  :root {
    --width-12col: min(100% - 1rem, 480px);
    --grid-gap: 1rem;
  }

    .clicked { 
        font-size: 1rem !important;
    }

    .hero {
    background: linear-gradient(to bottom, transparent 90%, #17232D 100%), url(../img/night_sky_darkened_mob.png);
    min-height: 1007px;
    background-size: cover;
    background-position: center;
}

.hero_grid_content {
    width: var(--width-12col);
    /* margin: 0 auto; 
    gap: var(--grid-gap); */
}

.hero_container_about_theatre {
    margin: 97px 0 0 0;
}
.hero_about_theatre_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
     text-align: center;
     align-items: center;
}

.hero_about_theatre_text h1 {
    font-size: 29px;
}

.hero_about_theatre_text h2 {
    font-weight: 300;
    letter-spacing: 1.4px;
    font-size: 19px;
    margin-top: 16px;
    width: 420px;
}


.body_content_about_theatre,
.hero_about_theatre_text_bottom {
    display: none;
}
.body_content_about_theatre_logo{
    width: var(--width-12col);
    width: 116px;
    height: 116px;
}

/* About theatre */
.block_about_theatre {
    width: var(--width-12col);
}

.block_about_theatre_text {
    max-width: 395px;
    padding-top: 0;
    margin-top: 41px;
}

.block_about_theatre_text p {
    font-size: 20px;
    margin-bottom: 54px;
}

.button_about_theatre {
    width: var(--width-12col);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.visit_button button{
    width: 302px;
    height: 64px;
    padding: 5px 40px;
    font-size: 20px;
}

.visit_button{
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 133px;
}

.about_theatre_contact {
    grid-column: 1 / 5;
    text-align: left;
    margin-bottom: 59px;
}

.about_theatre_contact_text {
    font-size: 20px; 
    font-weight: 100;
}

.about_theatre_contact a {
    font-size: 16px;
    margin-bottom: 16px;
}

.about_theatre_contact_address {
    font-size: 16px;
}
}