@import url("main.css");

body,
html {
    width: var(--width-full);
    font-family: "Trajan", serif;
    position: relative;
    background-color: #17232D;
    margin: 0;
}

.hero {
    background: linear-gradient(to bottom, #17232D00 80%, #17232D 100%), url(../img/night_sky_darkened.png);
    background-size: cover;
    position: relative;
    height: 1100px;
    width: var(--width-full);
}

.hero_grid_content {
    width: var(--width-12col);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin: 0 auto; 
    height: 100%; 
    position: relative;
}

.hero_container_about_theatre {
    margin: 117px 0 0 0;
    grid-column: 1 / span 7;
    grid-row: auto;
}

.hero_about_theatre_text h1 {
    font-size: 42px;
    font-weight: 100;
    color: var(--color-white);
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
}

.hero_about_theatre_text h2 {
    color: var(--color-white);
    font-family: var(--font-body);
    font-weight: 100;
    letter-spacing: 1.4px;
    font-size: 1.188rem;
    margin-top: 16px;
}


.hero_about_theatre_text_bottom {
    margin-top: 60px;
}

.hero_about_theatre_text_bottom p {
    color: var(--color-white);
    font-family: var(--font-body);
    font-weight: 100;
    font-size: 20px;
}

.hero_about_theatre_text_bottom img {
    position: absolute;
}

.block_about_theatre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: var(--width-12col);
    margin: 0 auto;
}

.body_content_about_theatre_logo_image {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.block_about_theatre_text {
    max-width: 1020px;
    padding-top: 120px;
}

.block_about_theatre_text p {
    color: var(--color-white);
    font-family: var(--font-body);
    font-weight: 100;
    font-size: 23px;
    line-height: 1.6;
    margin-bottom: 35px;
}


/* Flickity carousel */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery_about {
    width: 100%;

}

.gallery_about_grid {
    max-width: 1200px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.gallery {
    background-color: #17232D;
    padding: 40px 0 40px;
    overflow: visible;
    grid-column: span 12;
}

.gallery-cell {
  width: calc((100% - 40px) / 3); 
  height: auto;
  margin-right: 10px;
}

.gallery-cell img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
    transform: scale(0.7);
    opacity: 0.8;
}

.gallery-cell.is-selected img {
    transform: scale(1.1); 
    opacity: 1;
}


.flickity-prev-next-button.previous {
left: -30px; 
}


.flickity-prev-next-button.next {
 right: -30px; 
}

/* Button */

.visit_button button{
    border-radius: 1.75rem;
    width: 383px;
    height: 60px;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom right, #473113, #23211C, #473113);
    border: 0.25rem solid #F2C042;
    outline: 0.188rem solid #756849;
    font-family: var(--font-body);
    font-size: 25px;
    color: var(--color-white);
}

.visit_button button:hover, .visit_button button:focus {
    /* box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em); */
    transform: scale(1.1);
    box-shadow: 0 0 0.938rem #EFBF04;
    transition: 0.8s;
}

.visit_button{
    grid-column: 4 / span 6;
    display: flex;
    justify-content: center;
    margin-bottom: 101px;
}

.about_theatre_contact {
    grid-column: 2 / span 4;
    text-align: left;
    margin-bottom: 47px;
}

.about_theatre_contact_text {
    font-size: 20px; 
    font-weight: 100;
    color: var(--color-white);
    text-transform: uppercase;
}

.about_theatre_contact a {
    font-size: 16px;
    color: var(--color-white);
    text-decoration: none;
    display: block; 
    margin-bottom: 20px;
}

.about_theatre_contact a:hover {
    color: #007BFF
}

.about_theatre_contact_address {
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-white);
}

.button_about_theatre {
    width: var(--width-12col);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}