@import url("main.css");
@import url("abouttheatre.css");

body,
html {
    width: var(--width-full);
    font-family: "Trajan", serif;
    position: relative;
    background-color: #212E35;
    margin: 0;
}

.hero_venue {
    background: linear-gradient(to bottom, #212E3500 90%, #212E35 100%), url(../img/brother_landscape_final.jpg);
    width: var(--width-full);
    height: auto;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    min-height: 68.75rem;
}

.hero_container_venue {
    margin: 10.438rem 0 0 0;
    grid-column: 1 / span 7;
}

.hero_venue_text h1 {
    font-family: var(--font-header);
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--color-red);
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
}

.hero_venue_text h2 {
    color: var(--color-red);
    font-family: var(--font-body);
    font-weight: 400;
    letter-spacing: 0.088rem;
    font-size: 1.438rem;
    margin-top: 1rem;
}

.hero_venue_text_bottom {
    margin-top: 3.75rem;
}

.hero_venue_text_bottom p {
    color: var(--color-red-nav);
    font-family: var(--font-body);
    font-weight: 100;
    font-size: 1.25rem;
}

.hero_venue_text_bottom img {
    position: absolute;
    width: 15.563rem;
    margin-top: 0.2rem;
}

/* Accessebility info */

.body_content_venue_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-12col);
    margin: auto;
}

.accessibility_info {
    width: var(--width-full);
}

.info_grid_content {
    width: var(--width-12col);
    margin: 0 auto;
    padding: 7.5rem 0 4.563rem 0;
}

.info_item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
}

.info_icon {
    grid-column: 2 / span 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_icon img {
    max-width: 100%;
    height: auto;
}

.info_text {
    grid-column: 3 / span 9;
    grid-row: 1;
    width: 58.75rem;
}

.info_text h3 {
    font-family: var(--font-body);
    font-size: 1.438rem;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 0.938rem;
}

.info_text p {
    color: var(--color-white);
    font-family: var(--font-body);
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: 2.813rem;
}

.divider {
    grid-column: 2 / span 10;
    grid-row: 2 / 3;
    margin-bottom: 2.813rem;
}

.divider img {
    width: 100%;
    height: auto;
    display: block;
}

.info_item:last-child .divider {
    margin-bottom: 0;
}

.read-more-button {
    text-decoration: none;
    display: inline-block;
    color: inherit; 
    cursor: pointer; 
    border-bottom: solid 2px var(--color-red-nav);
    transition: border-color 0.1s ease;
}

.read-more-button p {
padding-bottom: 5px;
}

.hero_venue_text_bottom p:hover {
    color: var(--color-white);
    border-bottom: solid 2px var(--color-white);
}

.read-more-button:hover {
    color: var(--color-white);
    border-bottom: solid 2px var(--color-white);
}
@media (max-width: 480px) {
    :root {
        --width-12col: min(100% - 1rem, 480px);
        --grid-gap: 1rem;
    }

    .clicked {
        font-size: 1.3rem !important;
    }

    .hero_venue {
        background: linear-gradient(to bottom, #212E3500 90%, #212E35 100%), url(../img/background_landscape_mobile.png);
        min-height: 1007px;
        background-size: cover;
        background-position: center;
    }

    .hero_grid_content {
        width: var(--width-12col);
        gap: var(--grid-gap);
    }

    .hero_container_venue {
        margin: 6.063rem 0 0 0;
    }

    .hero_container_venue {
        margin: 7rem 0 0 0;
    }

    .hero_venue_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        align-items: flex-start;
        margin-left: 1rem;
    }

    .hero_venue_text h1 {
        font-size: 1.813rem;
        text-align: left;
    }

    .hero_venue_text h2 {
        font-weight: 400;
        letter-spacing: 0.088rem;
        font-size: 1.188rem;
        margin-top: 1rem;
        width: 28rem;
    }
.read-more-button p {
padding-bottom: 4px;
}

.hero_venue_text_bottom p {
    font-weight: 100;
    font-size: 1.25rem;
}

    /* Accessebility info */

    .body_content_about_theatre_logo {
        width: var(--width-12col);
        width: 5rem;
        height: 5rem;
    }

    .info_grid_content {
        width: var(--width-12col);
        padding: 6.563rem 0 4.813rem 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .info_item {
        grid-column: 1 / 5;
        gap: var(--grid-gap);
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--grid-gap);
    }

    .info_icon {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: flex-start;
        align-items: start;
    }

    .info_icon img {
        width: 2.5rem;
        height: 2.5rem;
        max-width: none;
    }

    .info_text {
        display: contents;
    }

    .info_text h3 {
        grid-column: 1 / 5;
        grid-row: 1;
        font-family: var(--font-body);
        font-size: 1.438rem;
        font-weight: 700;
        color: var(--color-white);
        margin: 0;
        display: flex;
        align-items: center;
        margin-left: 3.25rem;
    }

    .info_text p {
        grid-column: 1 / 5;
        grid-row: 2;
        color: var(--color-white);
        font-family: var(--font-body);
        font-size: 1.125rem;
        font-weight: 100;
        line-height: 1.4;
        margin: 0 0 1.5rem 0;
    }

    .divider {
        grid-column: 1 / 5;
        grid-row: 3;
        width: 100%;
        margin-bottom: 2.625rem;
    }

    .divider img {
        width: 100%;
        height: auto;
        display: block;
    }

    .info_item:last-child .divider {
        margin-bottom: 0;
    }

    .hero_venue_text_bottom p:hover {
    color: var(--color-red-nav);
    border-bottom: solid 2px var(--color-red-nav);
}

.read-more-button:hover {
    color: var(--color-red-nav);
    border-bottom: solid 2px var(--color-red-nav);
}

}

